@import "tailwindcss";
*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar (for horizontal scroll) */
  }
  
  *::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #FFD700, #FFA500); /* Gold gradient */
    border-radius: 8px; /* Rounded corners for the scrollbar thumb */
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #FFC300, #FF8C00); /* Slightly darker gold on hover */
  }
  
  *::-webkit-scrollbar-track {
    background: #f0f0f0; /* Track background color */
    border-radius: 8px; /* Rounded corners for the track */
    margin: 2px; /* Margin inside the track for a cleaner look */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin; /* Make scrollbar thin */
    scrollbar-color: #FFD700 #f0f0f0; /* Gold thumb with light track */
  }
  
  .dancing-script-font {
    font-family: "Dancing Script";
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal
  }